@font-face {
  font-family: 'Source Sans Pro';
  src: url('./font/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./font/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./font/SourceSansPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./font/SourceSansPro-Semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color: #F7F7F7;

}

body {
  background-color: #1E252B;
}



.card__title {
  font-size: 24px;
  margin-top: 36px;
  font-weight: 500;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1280px) {
  .card__title {
      width: 90%;
  }
}

.card__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #262D34;
  padding: 24px;
  gap: 24px;
  margin-top: 24px;
  border-radius: 12px;
}

@media (max-width: 1280px) {
  .card__wrapper {
      width: 90%;

  }
}

.card__data-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card__name {
  font-size: 18px;
}

.card__date {
  font-size: 16px;
  font-weight: 300;
  color: #C5D0E6;
}

@media (max-width: 1280px) {
  .card__date {
      font-size: 14px;
  }
}

.card__button {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
  background: #FF6934;

}
/* form */
.form__container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 1200px;
}

@media (max-width: 1280px) {
  .form__container {
      width: 90%;
  }
}

.form__label {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .form__label {
      font-size: 16px;
  }
}

.form__input {
  height: 50px;
  padding-left: 12px;
  border: none;
  background-color: #2C353D;
  border-radius: 6px;
  &::placeholder {
      font-size: 16px;
      color:#858EAD;
  }
  &:focus {
      outline: none;
  }
}

@media (max-width: 768px) {

  .form__input {
  height: 45px;
      &::placeholder {
          font-size: 14px;
      }
  }
}

.button {
  height: fit-content;
  padding: 12px 24px;
  border:0;
  background-color: #FF6934;
  color: #fff;
  border-radius: 6px;
  width: fit-content;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  &:hover {
      background-color: rgb(255, 111, 71);
  }
  &:active {
      background-color: #FF5B2C;
  }
}

@media (max-width: 768px) {
  .form__button {

      font-size: 14px;

  }
}

.message__container {
  margin-top: 36px;
  background-color: #262D34;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  width: 1200px;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1280px) {
  .message__container {
      width: 90%;
  }
}

.message__infos-user {
  display: flex;
  justify-content: space-between;
}

.message__infos-user__name {
  font-size: 18px;
  font-weight: 400;
}

.message__infos-user__date {
  font-size: 16px;
  font-weight: 300;
  color: #C5D0E6;
}

@media (max-width: 768px) {
  .message__infos-user__date {
      font-size: 14px;
  }
}

.message__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #F7F7F7;
}

@media (max-width: 768px) {
  .message__text {
      font-size: 16px;

  }
}

.send-form {
  margin-top: 36px;
  padding: 12px;
  background-color: #262D34;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 1280px) {
  .send-form {
      width: 90%;
  }
}

@media (max-width: 768px) {
  .send-form {
      display: flex;
      flex-direction: column;
      gap: 12px;
  }
}

.send-form__textarea {
  padding: 24px;
  font-size: 16px;
  width: 100%;
  height: 150px;
  border: none;
  background-color: #2C353D;
  border-radius: 6px;
  &:focus {
      outline: none;
  }
}
